body {
    
    background-attachment : fixed;
    background-color      : rgb(188, 188, 188);
    height                : 300px;
    /*padding-left          : 20px;
    padding-right         : 20px;
    margin-top            : -8px;*/
    padding-top           : 20px;
}

#pad {

    font-weight : bold;
    font-family : serif, Georgia, "Times New Roman", Times;
    font-family : "Open Sens";
    font-size   : 1.4rem;
    margin-left : 5rem;
}

label {

    font-size: 20px;
    color    : white;
}

#jumbotro {

    border-radius: 70px;
    position: relative;
    max-width: 1130px;
    padding: 50px;
    background: rgba(38, 35, 35, 0.569);
}

.container {

    margin-top  : 7%;
    font-family : Times, "Times New Roman", Georgia, serif;
    color       : black;
}

#guichet {
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-bottom: 10px;
    height: 200%;
}

