<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{@BASE. '/' . @UI}}"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="bootstrap/style.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Rediger un rapport</title>
    <script src="package/js/tinymce/tinymce.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" id="pad" href="{{ @BASE . '/agent/accueil' }}">
                        <img src="img/images (5).jpeg" style="border-radius: 30px 30px 30px 30px;" alt="" width="400" height="60">
                    </a>
                </div>
            </nav>
        </header>
        <div class="container" id="r">
            <div>

            </div>
            
            <div>
                <h2>RAPPORT</h2>
                <form method="post" action="{{ @BASE . '/agent/ajouter_rapport' }}" style="width: 90%; margin: 20x;">
                    <textarea name="rapport" id="pclu-textarea" cols="30" rows="12"></textarea>
                    <div style="margin: 15px;  text-align: center;">
                        <input type="submit" value="Enregistrer" class="btn btn-primary">
                        <a class="btn btn-primary" style="padding-left:25px;padding-right:25px;" href="{{ @BASE . '/agent/accueil' }}">Annuler</a>
                    </div>
                </form>
            </div>  

            
        </div>
    </div>
    
    <footer class="bg-dark text-center text-white">
        <section class="mb-4">
            <p>
                Direction generale de la migration  
            </p>
        </section>
        <section class="">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script><a href="javascript:;"> DGM</a>
                    </p>
                </div>
            </div>
        </section>
    </footer>  

    <script > tinymce.init({ selector:'#pclu-textarea', branding: false});</script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>