<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <base href="{{@BASE. '/' . @UI}}"/>
        <title>Page introuvable</title>
    </head>
    <body>
        <h1>Page inexistante</h1>
        <p>Cette page n'existe pas.<br/>Veuille vous connecter en tant que : <br/></p>
        <ol>
            <li><a href="{{ @BASE.'/agent' }}">Agent</a></li>
            <li><a href="{{ @BASE . '/officer' }}">Officier</a></li>
            <li><a href="{{ @BASE . '/admin' }}">Administrateur</a></li>
        </ol>
    </body>
</html>