
<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<base href="{{@BASE. '/' . @UI}}"/>   
	<title>Manager</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

</head>

<body style="background-color:rgb(188, 188, 188);">

<!-- 8,7,7,9,6 -->
	<div class="left-side-bar">
		<div class="brand-logo">
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">Accueil</span>
						</a>
						<ul class="submenu">
							<li><a href="{{ @BASE . '/admin/tableau' }}">Tableau de bord</a></li>
							<li><a href="{{ @BASE . '/admin/afficher_rapports' }}">Rapports</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-library"></span><span class="mtext">Comptes</span>
						</a>
						<ul class="submenu">
							<li><a href="{{ @BASE . '/admin/accueil' }}">Compte utilisateurs</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Utilisateur</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Accueil</a></li>
									<li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary">
								<a href="{{ @BASE . '/admin/ajouter_form' }}" style="color:white">Ajouter un utilisateur</a>
							</button>
						</div>
					</div>
				</div>
				<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Utilisateurs</h4>
					</div>
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">Nom</th>
									<th>Post-nom</th>
									<th>Login</th>
									<th>Mot de passe</th>
									<th>Role</th>
									<th class="datatable-nosort">Action</th>
								</tr>
							</thead>
							<tbody>
								<repeat group="{{ @users }}" value="{{ @user }}">
									<tr>
										<td class="table-plus">{{ @user.nom }}</td>
										<td>{{ @user.postnom }}</td>
										<td>{{ @user.prenom }}</td>
										<td>{{ @user.mot_de_passe }}</td>
										<td>{{ @user.role }}</td>
										<td>
											<div class="dropdown">
												<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
													<i class="dw dw-more"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
													<a class="dropdown-item" href="{{ @BASE . '/admin/maj/' . @user.userID }}"><i class="btn-primary dw dw-edit2"></i>
														<input type="" class="form-control btn btn-success" value="Modifier">
													</a>
													<a class="dropdown-item" href="{{ @BASE . '/admin/supprimer/' . @user.userID }}"><i class="btn-danger dw dw-delete-3"></i>
														<input type="" class="form-control btn btn-danger" value="Supprimer">
													</a>
												</div>
											</div>
										</td>
									</tr>
								</repeat>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Simple Datatable End -->

				<!-- Export Datatable End -->
			</div>
		</div>
	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<!-- buttons for Export datatable -->
	<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
	<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
	<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
	<script src="src/plugins/datatables/js/vfs_fonts.js"></script>
	<!-- Datatable Setting js -->
	<script src="vendors/scripts/datatable-setting.js"></script>
</body>

</html>